[data-mode='dark'] {
    --background-color: #101010b0;
    --font-color: #fff;
    --font-secondary-color: #d6d6d6;
    --font-hover-color: #000;
    --font-sign-color: #ffffff15;
}

[data-mode='light'] {
    --background-color: #ffffffa3;
    --font-color: #000;
    --font-secondary-color: #252525;
    --font-hover-color: #fff;
    --font-sign-color: #50505021;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    background-color: var(--font-hover-color);
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}

.background {
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.95;
    animation: bgFadeIn 1.9s cubic-bezier(0.25, 0.04, 0, 0.89);
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    max-width: 850px;
}

.main .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
    animation: in 0.9s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
    border-radius: 20px 0 0 20px;
}

.main .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main .text h1 {
    margin-bottom: 5px;
    color: var(--font-color);
}

.main .text h2 {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    color: var(--font-secondary-color);
    margin-bottom: 10px;
}

.mediaBtn {
    margin: 10px 10px 30px;
}

.mediaBtn a {
    border: 1px solid var(--font-color);
    border-radius: 30px;
    padding: 16px;
    width: 15px;
    color: var(--font-color);
    text-decoration: none;
    box-shadow: 2px 2px var(--font-color);
    transition: box-shadow 0.3s ease-in-out;
    margin: 0 5px 5px;
}

.mediaBtn a:hover {
    background-color: var(--font-color);
    color: var(--font-hover-color);
    box-shadow: 0 0 var(--font-color);
}

.sign {
    bottom: 0;
    position: absolute;
    right: 20px;
    font-size: 120px;
    color: var(--font-sign-color);
    z-index: -1;
    font-family: "Protest Riot", Microsoft Yahei, sans-serif;
}

.musicIcon,
.githubIcon {
    font-size: 20px;
    margin-right: 5px;
}

.share {
    color: rgb(255, 255, 255);
    z-index: 10;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 21px;
    overflow: auto;
    scroll-behavior: smooth;
}

.share::-webkit-scrollbar {
    display: none;
}

.MusicName {
    cursor: pointer;
}

.github-loop {
    margin-top: 10px;
}

a.MusicName:-webkit-any-link,
a.githubProject:-webkit-any-link {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

#skills {
    background: #3535358f;
    width: fit-content;
    padding: 8px 18px;
    border-radius: 30px;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    animation: skill-in 0.5s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
}

.skill-icon {
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.04, 0, 0.89);
}

.skill-breath {
    animation: breath 4s ease-in-out infinite;
}

.skill-icon:hover {
    font-size: 20px;
}

#language {
    color: #fff;
}

#learning {
    color: rgba(255, 255, 255, 0.438);
}

.notification{
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.notification_wrapper {
    position: relative;
    width: fit-content;
    color: #fff;
    background-color: #4388d9;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.notification_icon {
    margin: 0 10px 0 0;
}

.notification_content {
    width: 350px;
}

.snackbar-show {
    animation: snackIn 0.5s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
}

.snackbar-hide {
    animation: snackOut 0.5s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
}

@media screen and (max-width: 590px) {
    #main {
        flex-direction: column;
    }

    #img {
        width: 100%;
        animation: in-lite 0.9s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
        border-radius: 20px 20px 0 0;
    }

    div.auto-hide {
        display: none;
    }

    div.notification_wrapper{
        width: 250px;
        height: 20px;
        border-radius: 30px;
        overflow: hidden;
    }

    div.notification_content{
        width: fit-content;
        padding-left: 20px;
        white-space: nowrap;
        animation: scrollText var(--scroll-time) linear forwards;
        z-index: 10;
    }

    div.notification_icon{
        opacity: 0.4;
    }

    div.snackbar-show {
        animation: snackInMobile 0.5s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
    }

    div.snackbar-hide {
        animation: snackOutMobile 0.5s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
    }
}

@keyframes in {
    0%,
    40% {
        width: 0;
        scale: 0.6;
    }

    100% {
        width: 46vh;
        scale: 1;
    }
}

@keyframes in-lite {

    0%,
    40% {
        height: 0;
        scale: 0.6;
    }

    100% {
        height: 29vh;
        scale: 1;
    }
}


@keyframes bgFadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    100% {
        opacity: 0.95;
        filter: blur(0);
    }
}

@keyframes skill-in {
    0% {
        margin: 90px 0 10px 0;
        padding: 8px 50px;
    }

    100% {
        margin: 0 0 10px 0;
        padding: 8px 18px;
    }
}

@keyframes breath {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes snackIn {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes snackOut {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    
    100%{
        opacity: 0;
        transform: translateY(200%);
    }
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 50px));
    }
}

@keyframes snackInMobile {
    0%{
        width: 10px;
        opacity: 0;
    }
    100%{
        width: 250px;
        opacity: 1;
    }
}

@keyframes snackOutMobile {
    0%{
        width: 250px;
        opacity: 1;
    }
    100%{
        width: 10px;
        opacity: 0;
    }
}