[data-mode='dark'] {
    --background-color: #252424d6;
    --font-color: #fff;
    --font-secondary-color: #d6d6d6;
    --font-hover-color: #000;
    --font-sign-color: #ffffff15;
}

[data-mode='light'] {
    --background-color: #ffffffc9;
    --font-color: #000;
    --font-secondary-color: #252525;
    --font-hover-color: #fff;
    --font-sign-color: #50505021;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    overflow: hidden;
    background-color: var(--font-hover-color);
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.background {
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.95;
    animation: bgFadeIn 0.9s cubic-bezier(0.25, 0.04, 0, 0.89);
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    max-width: 850px;
}

.main .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
    animation: in 0.9s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
    border-radius: 20px 0 0 20px;
}

.main .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main .text h1 {
    margin-bottom: 5px;
    color: var(--font-color);
}

.main .text h2 {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    color: var(--font-secondary-color);
    margin-bottom: 10px;
}

.mediaBtn {
    margin: 10px 10px 30px;
}

.mediaBtn a {
    border: 1px solid var(--font-color);
    border-radius: 30px;
    padding: 16px;
    width: 15px;
    color: var(--font-color);
    text-decoration: none;
    box-shadow: 2px 2px var(--font-color);
    transition: box-shadow 0.3s ease-in-out;
}

.mediaBtn a {
    margin: 0 5px 5px;
}

.mediaBtn a:hover {
    background-color: var(--font-color);
    color: var(--font-hover-color);
    box-shadow: 0 0 var(--font-color);
}

.sign{
    bottom: 0;
    position: absolute;
    right: 20px;
    font-size: 120px;
    color: var(--font-sign-color);
}

@media screen and (max-width: 590px) {
    #main {
        flex-direction: column;
    }

    #img {
        width: 100%;
        animation: in-lite 1.9s cubic-bezier(0.25, 0.04, 0, 0.89) forwards;
        border-radius: 20px 20px 0 0;
    }

    div.auto-hide {
        display: none;
    }
}

@keyframes in {

    0%,
    40% {
        width: 0;
        scale: 0.6;
    }

    100% {
        width: 46vh;
        scale: 1;
    }
}

@keyframes in-lite {

    0%,
    40% {
        height: 0;
        scale: 0.6;
    }

    100% {
        height: 29vh;
        scale: 1;
    }
}


@keyframes bgFadeIn {
    0%{
        transform: scale(1.8);
        opacity: 0;
        filter: blur(20px);
    }

    100%{
        transform: scale(1);
        opacity: 0.95;
        filter: blur(0);
    }
}